<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>注册</title>
		<link rel="stylesheet" href="../../assets/css/relys/login.css">
	</head>
	<body>
		<div class="container" id="app">
			<div class="loginBox">
				<h3>注册</h3>
				<form id="loginForm">
					<div class="input-wrapper">
						<label>账号:</label>
						<input v-model="zhanghao" type="text" name="" placeholder="请输入账号">
					</div>
					<div class="input-wrapper">
						<label>密码:</label>
						<input v-model="mima" type="text" name="" placeholder="请输入密码">
					</div>
					<div class="input-wrapper">
						<label>姓名:</label>
						<input v-model="xingming" type="text" name="" placeholder="请输入姓名">
					</div>
					<div class="input-wrapper">
						<label>手机:</label>
						<input v-model="shouji" type="text" name="" placeholder="请输入手机">
					</div>
					<div class="input-wrapper">
						<label>邮箱:</label>
						<input v-model="youxiang" type="text" name="" placeholder="请输入邮箱">
					</div>
					<div class="input-wrapper">
						<label>身份证:</label>
						<input v-model="shenfenzheng" type="text" name="" placeholder="请输入身份证">
					</div>
				</form>
				<a href="../login/login.html">已有账号？去登录</a>
				<button type="button" @click="userRegister">注册</button>
			</div>
		</div>
		<script src="../../assets/js/relys/jquery.js"></script>
		<script src="../../assets/js/relys/vue.js"></script>
		<script src="../../assets/js/api/api.js"></script>
		<script src="../../assets/js/api/defaultuser.js"></script>
			<script src="../../assets/js/validate.js"></script>
		<script type="text/javascript">
			var app = new Vue({
				el: "#app",
				data: {
					"zhanghao": "",
					"mima": "",
					"xingming": "",
					"shouji": "",
					"youxiang": "",
					"shenfenzheng": "",
				},
				methods: {
					userRegister(){
						if(!this.zhanghao){
							alert(`账号不能为空`);
							return
						}
						if(!this.mima){
							alert(`密码不能为空`);
							return
						}
					if(!isEmail(this.youxiang)){
						alert(`邮箱应输入邮件格式`);
						return
					}
					if(!checkIdCard(this.shenfenzheng)){
						alert(`身份证应输入身份证格式`);
						return
					}
						var data = {
							"zhanghao": this.zhanghao,
							"mima": this.mima,
							"xingming": this.xingming,
							"shouji": this.shouji,
							"youxiang": this.youxiang,
							"shenfenzheng": this.shenfenzheng,
						}
						register('yonghu', data, function(res){
							if(res.code==0){
								alert('注册成功')
								window.parent.location.href = '../login/login.html'
							}
						})
					}
				}
			})
		</script>
	</body>
</html>
